.tabs-page .tabs {
}

	.heading {
		margin-top: 30px;
		font-size: 30px;
		font-weight: bold;
	}
	.title {
		margin-top: 5px;
		margin-bottom: 5px;
		font-size: 24px;
		font-weight: 500;
	}
	.subtitle {
		font-size: 21px;
		font-weight: 500;
	}

.header-tabs {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 20px;
	margin-right: 20px;
	background-color: #ffffff;
}

.tabs-bar {
	background-color: #ffffff;
	margin-top: 30px;
	margin-left:20px;
	margin-right: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
	.tabs-bar .cell {
		text-align: center;
		width: 105px;
		height: 40px;
		color: #848484;
		text-decoration: none;
	}
		.cell.active {
			color: #003333;
			border-bottom: 2px solid #003333;
		}
	.tabs-bar .cell:hover {
		border-bottom: 2px solid #003333;
		color: #003333;
		transition: ease-in;
	}

.tabs-banner {
	background-color: rgb(60, 133, 11);
	height: 300px;
	width: 100%;
}

.supplier-info {
	display: flex;
	flex-direction: row;
}
	.supplier-logo {
		min-width: 150px;
		max-width: 150px;
		height: 150px;
		background-color: #848484;
		margin-right: 20px;
		transform: translate(20px, 220px);
		background-size: cover;
		background-repeat: no-repeat;
	}
	.supplier-desc {
		flex-direction: column;
	}

.tabs-home {
	margin: 30px 20px auto;
}

 .tabs-home .item-row {
	display: flex;
	flex-direction: row;
 }
	 
 .item-row .item-card {
	margin-right: 10px;
	 display: flex;
	 flex-direction: column;
	 width: 200px;
 }
 	.item-card .item-image {
		 width: 100%;
		 height: 150px;
		 border-radius: 10px;
		 background-color: rgb(173, 228, 137);
		 background-size: cover;
		 background-repeat: no-repeat;
	 }
	 .item-card .item-para {
		font-size: 18px;
	 }

	@media only screen and (max-width: 768px) {
		.supplier-info {
			flex-direction: column;
		}
			/* .supplier-desc {
				transform: translate(0px, -100px);
			} */
	}
