.tabs-page .tabs {
}

	.heading {
		margin-top: 30px;
		font-size: 30px;
		font-weight: bold;
		text-decoration: none;
		color: #000000;
	}
	.title {
		margin-top: 5px;
		margin-bottom: 5px;
		font-size: 24px;
		font-weight: 500;
		text-decoration: none;
		color: #000000;
	}
	.subtitle {
		font-size: 21px;
		font-weight: 500;
		text-decoration: none;
		color: #000000;
	}

.header-tabs {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #ffffff;
	margin: unset;
	height: 80px;
	align-items: center;
	padding: 0 20px;
}

.tabs-bar {
	padding-top: 20px;
	background-color: #ffffff;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
	.tabs-bar .cell {
		text-align: center;
		width: 105px;
		height: 40px;
		color: #848484;
		text-decoration: none;
	}
		.cell.active {
			color: var(--blue);
			border-bottom: 2px solid var(--blue);
		}
	.tabs-bar .cell:hover {
		border-bottom: 2px solid var(--blue);
		color: var(--blue);
		transition: ease-in;
	}

.tabs-banner {
	background-color: var(--blue);
	height: auto;
	max-height: 300px;
	max-width: 100%;
	width: auto;
	margin: auto;
	display: block;

	background-position: 50% 50%;
	background-size: contain;
	background-repeat: no-repeat;
}

.supplier-info {
	display: flex;
	flex-direction: row;
}

.tabs-home {
	/*margin: 30px 20px auto;*/
}

.tabs-home a {
	text-decoration: none;
}

 .tabs-home .item-row {
	margin: 30px 20px auto;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 0px 5px #e4e4e4;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #ffffff;
	border-radius: 5px;
 }

 .item-row .items {
	 display: flex;
	 flex-direction: row;
	 overflow: auto;
 }

 	.item-row .title-row {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	 }

	 .item-row .title-row .arrow-icon {
		background-repeat:no-repeat;
		width: 15px;
		height: auto;
	 }

 .item-row .item-card {

	display: flex;
	flex-direction: column;
	max-width: 150px;
	min-width: 150px;
	width: 150px;
	border: 2px solid #f5f5f5;
	border-radius: 4px;
	margin: 5px;
	padding: 5px;
 }

 	.item-card .item-image {
		 width: 100%;
		 height: 150px;
		 border-radius: 10px;
		 background-color: white;
		 background-size: contain;
		 background-position: 50% 50%;
		 background-repeat: no-repeat;
	 }

	 .item-card .item-para {
		font-size: 18px;
	 }

	.modal-active {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 999999;
		background-color: rgba(0,0,0,0.4);
	}

	.modal-box {
		border: 5px solid #1BB4B8;
		position: fixed;
		z-index: 1;
		padding: 20px;
		background-color: #ffffff;
		border-radius: 5px;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		width: 80%;
		height: fit-content;
		margin: auto;
		animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
	}


	@media only screen and (max-width: 768px) {
		.tabs-home .item-row {
			margin-left: 0px;
			margin-right: 0px;
		}
		.supplier-info {
			flex-direction: column;
		}
			.heading {
				font-size: 24px;
			}
			.title {
				margin-top: 5px;
				margin-bottom: 5px;
				font-size: 20px;
				font-weight: 600;

			}
			.subtitle {
				font-size: 14px;
				font-weight: 500;
				text-decoration: none;
				color: #000000;
			}
	}
