.tabs-page {
	margin-bottom: 70px;
}
	.heading {
		margin-top: 30px;
		font-size: 30px;
		font-weight: bold;
		text-decoration: none;
		color: #000000;
	}
	.title {
		margin-top: 5px;
		margin-bottom: 5px;
		font-size: 24px;
		font-weight: 500;
		text-decoration: none;
		color: #000000;
	}
	.subtitle {
		font-size: 21px;
		font-weight: 500;
		text-decoration: none;
		color: #000000;
	}

.header-tabs {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	background-color: #ffffff;
	margin: unset;
	height: 80px;
	align-items: center;
	padding: 0 20px;
}
	.header-tabs .profile {
		padding: 5px 10px;
		border-radius: 5px;
		border: 1px solid #ebebeb;
		font-size: 30px;
		text-decoration: none;
	}
	.header-tabs .bttn {
		color: #848484;
		font-size: 20px;
		width: 20%;
		text-align: center;
		margin: 0px 5px;
		text-decoration: none;
	}
	.header-tabs .bttn:hover {
		color: #1BB4B8;
	}
	.header-tabs .bttn.active {
		color: #1BB4B8;
	}

.tabs-bar {
	padding-top: 20px;
	background-color: #ffffff;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
	.tabs-bar .cell {
		text-align: center;
		width: 105px;
		height: 40px;
		color: #848484;
		text-decoration: none;
	}
		.cell.active {
			color: var(--blue);
			border-bottom: 2px solid var(--blue);
		}
	.tabs-bar .cell:hover {
		border-bottom: 2px solid var(--blue);
		color: var(--blue);
		transition: ease-in;
	}

.tabs-banner {
	background-color: var(--blue);

	max-height: fit-content;
	max-width: 100%;

	margin: auto;
	display: block;

	background-position: 50% 50%;
	background-size: contain;
	background-repeat: no-repeat;
}
	.banner-img {
		width: 100%;
		max-height: 600px;
	}
	.article .tabs-banner {
		background-color: transparent;
	}

.supplier-info {
	display: flex;
	flex-direction: row;
}

.tabs-home {
	/*margin: 30px 20px auto;*/
}

.tabs-home a {
	text-decoration: none;
}

 .tabs-home .item-row {
	margin: 30px 20px auto;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 0px 5px #e4e4e4;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #ffffff;
	border-radius: 5px;
 }

 .item-row .items {
	 display: flex;
	 flex-direction: row;
	 overflow: auto;
 }

 	.item-row .title-row {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	 }

	 .item-row .title-row .arrow-icon {
		background-repeat:no-repeat;
		width: 15px;
		height: auto;
	 }

 .item-row .item-card {
	display: flex;
	flex-direction: column;
	width: 250px;
	border: 2px solid #f5f5f5;
	border-radius: 4px;
	margin: 5px;
	padding: 5px;
 }

	.item-card .item-image {
		max-height: 150px;
		max-width: 100%;
		margin: auto;
		border-radius: 10px;
		background-color: white;
		background-size: contain;
		background-position: 50% 50%;
		background-repeat: no-repeat;
	}

	.item-card .item-para {
		font-size: 18px;
	}

	.modal-active {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 999999;
		background-color: rgba(0,0,0,0.4);
	}

	.modal-box {
		border: 5px solid #1BB4B8;
		position: fixed;
		z-index: 1;
		padding: 20px;
		background-color: #ffffff;
		border-radius: 5px;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		width: 80%;
		height: fit-content;
		margin: auto;
		animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
	}

	.tabs-page .contact-us {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		position: fixed;
		background-color: var(--blue);
		padding: 30px;
		z-index: 1;
		bottom: 20px;
		right: 10px;
		border-radius: 50px;
		box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3  );
		color: #ffffff;
		text-decoration: none;
	}
		.contact-us .title{
			color: #ffffff;
			margin-left: 5px;
		}
	.tabs-page .tabs-footer {
		display: none;
	}


	@media only screen and (max-width: 768px) {

		.tabs-page .tabs-footer {
			position: fixed;
			display: flex;
			flex-direction: row;
			width: 100%;
			height: fit-content;
			background-color: #F05967;
			left: 0;
			bottom: 0;
			justify-content: center;
			align-items: center;
			padding: 15px 0px;
			box-shadow: 0px 0px 10px -5px #000000;
		}
			.tabs-page .tabs-footer .bttn {
				height: 20px;
				width: 100%;
				font-size: 15px;
				border-right: 1px solid #ffffff;
				text-align: center;
				color: #ffffff;
				text-decoration: none;
			}
		.header-tabs .profile {
			font-size: 15px;
			padding: 5px;
		}
		.header-tabs .bttn {
			display: none;
		}

		.tabs-home .item-row {
			margin-left: 0px;
			margin-right: 0px;
		}

		.item-row .item-card {
			min-width: 150px;
		}
			.item-card .item-image {
				height: 100px;
			}
		.supplier-info {
			flex-direction: column;
		}
			.heading {
				font-size: 24px;
			}
			.title {
				margin-top: 5px;
				margin-bottom: 5px;
				font-size: 20px;
				font-weight: 600;

			}
			.subtitle {
				font-size: 14px;
				font-weight: 500;
				text-decoration: none;
				color: #000000;
			}
		.tabs-page .contact-us {
			display: none;
		}
	}
