.front {
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
}

.front .partition {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: fit-content;
	padding: 40px;
	width: calc(100% - 80px);
}
	.partition.main .info-container {
		align-items: flex-start;
		text-align: left;
	}
	.partition.main .info-container .heading {
		font-size: 40px;
	}
	.partition.main .img-container .img {
		width: 60%;
		height: auto;
		border-radius: unset;
		object-fit: scale-down;
	}
	.partition .info-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		justify-content: center;
		width: 100%;
		color: #3E3E3E;

	}
		.info-container .heading {
			margin-top: 5px;
			padding: 10px 0px;
			font-size: 30px;
		}
		.info-container .para {
			margin: 30px 0px;
			font-size: 18px;
		}
		.pill {
			border-radius: 32px;
			text-align: center;
			width: 160px;
			height: 40px;
			color: #ffffff;
			background-color: #f05967;
			margin: 10px 0px;
			cursor: pointer;
			font-size: 20px;
			text-decoration: none;
			line-height: 40px;
		}

	.partition .img-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 100%;
	}
		.img-container .circle-frame {
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
		}
		.img-container .img {
			width: 300px;
			height: 300px;
			border-radius: 50%;
		}

.front .footer {}

.bg-blue {
	background-color: rgb(5, 5, 70);
	color: #ffffff;
}
.bg-teal {
	background-color: #1BB4BB;
	color: #ffffff;
}
.bg-orange {
	background-color: #F7C331;
	color: #ffffff;
}
.front .partition.main .image-card {
	display: none;
}
.white {
	color: #ffffff;
}
.teal {
	color: #1BB4BB;
}
.card-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin: 30px;
}
.card {
	width: 15%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	margin: 20px;
	box-shadow: 0px 0px 8px 0px #bebebe;
	border-radius: 5px;
	background-color: #ffffff;
	text-decoration: none;
}
	.card .icon {
		width: 150px;
		height: 150px;
		border-radius: 50%;
		object-fit: contain;
		background: #ffffff;
	}

	.card .title {
		margin-top: 10px;
	}

	.card .heading {
		margin-top: 5px;
	}

	.card .subtitle {
		font-size: 15px;
		border-top: 1px solid #e6e6e6;
		width: 100%;
		text-align: center;
		padding-top: 5px;
	}

.start-mob {
	display: flex;
	flex-direction: column;
}

	.start-mob .card {
		min-width: 160px;
		min-height: 120px;
	}

	.card.partner {
		box-shadow: none;
	}
		.card.partner .icon {
			box-shadow: 0px 0px 8px 0px #8D8D8D;
			box-shadow: none;
			border-radius: 5px;
			object-fit: contain;
		}

	.coming-soon {
		opacity: 40%;
	}

/* FOR ABOUT US PAGE */

.about-us.front .partition {
	height: fit-content;
}
.about-us.front .partition .info-container {
	width: 100%;
}
	.about-us .partition .info-container .para {
		margin: 20px 0px;
	}
.about-us.front .partition .info-container .sub-heading {
	align-self: center;
	font-size: 30px;
	text-decoration: underline;
}
	.about-us.front .card {
		padding: 10px;
	}

.about-us a{
	color: #f0a037;
	margin: 0px 5px;
	font-weight: bold;
}
	.about-us .card .title {
		font-size: 15px;
	}
	.about-us .card .subtitle {
		font-size: 12px;
	}
	.about-us .card {
		width: 200px;
		height: 250px;
	}

	/* For Campaign Page*/

	.campaign .partition .info-container {
		width: 100%;
	}
	.campaign.front .partition {
		padding: 0px 40px;
	}
	.campaign .ws-cont .select-row {
		margin-bottom: 10px;
	}
	.campaign .ws-cont .select-row > * {
		padding: 5px;
		margin: 5px;
	}
	.ws-cont {
		width: 100%;
	}
	.ws-cont .qs-cont .qs-card {
		border: 1px solid #ebebeb;
		padding: 10px;
	}
	.qs-card .qs {
		font-size: 20px;
		text-align: left;
	}
	.campaign .tag-row {
		display: flex;
		width: 100%;
		align-items: center;
	}
	.tag-row .tag {
		border-radius: 5px;
		margin: 5px;
		padding: 5px;
		color: #222222;
	}


@media only screen and (min-width: 800px) {
	.campaign.front .partition {
		padding: 0px 5%;
	}
	.pill {
		width: 220px;
		height: 60px;
		font-size: 25px;
		line-height: 60px;
	}

	.front .partition.main {
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.front .partition {
		flex-direction: row;
		padding: 60px 5%;
		width: calc(100% - 10%);
	}
	.front .reverse {
		flex-direction: row-reverse;
	}
	.front .info-container {
		align-items: flex-start;
		text-align: left;
		width: 40%;
	}
	.front .img-container {
		width: 50%;
	}
		.front .info-container .heading {
			font-size: 60px;
		}
		.front .info-container .para {
			font-size: 20px;
			margin: 48px 0px;
		}

	.front .partition.main .info-container .pill.mob {
		display: none;
	}
	.front .partition.main .info-container {
		width: 30%;
		margin-right: 30px;
	}
	.front .partition.main .info-container .heading {
		font-size: 54px;
	}
	.front .partition.main .img-container {
		width: 60%;
	}
	.front .partition.main .image-card-container {
		display: flex;
		align-items: baseline;
		flex-direction: row;
		width: 100%;
		justify-content: center;
	}

	.front .partition.main .image-card {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0px 10px;
		text-decoration: none;
		cursor: pointer;
	}
		.front .partition.main .image-card .img {
			width: 190px;
			height: 190px;
			border-radius: 50%;
		}
		.front .partition.main .image-card .img.cen {
			width: 280px;
			height: 280px;
			background-color: #F7C331;
		}

}

@media only screen and (max-width: 1280px) {

	.front .partition.main {
		/* flex-direction: column;
		align-items: center;
		justify-content: center;
		height: fit-content; */
	}

	.front .partition.main .info-container {
		width: 100%;
	}
	.front .partition.main .img-container {
		margin-top: 20px;
		width: 100%;
	}
	/* .front .partition.main .img-container {
		flex-direction: column;
	} */
}
@media only screen and (min-width: 1280px) {
	.img-container .circle-frame .img {
		height: 400px;
		width: 400px;
	}
	.front .gallery {
		margin-left: 70px;
	}
	.front .gallery .item-img {
		width: 250px !important;
		height: 220px !important;
	}
}

.pill .i-am-a {
	font-family: 'Caveat', cursive;
	font-weight: bold;
	font-size: 1.5rem !important;
}

.pill .i-am-a-title {
	top: -18px;
	position: relative;
}

.front .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
	grid-gap: 10px;
	background-color: #1BB4BB;
}
.front .gallery-item {
   margin: 0px;
   padding: 0px;
}

.front .gallery-item .item-img {
    width: 100%;
    height: 100%;
}

.front .gallery-item-1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
	grid-row-end: 1;
	border-top: 10px solid #1BB4BB;
    border-left: 10px solid #1BB4BB;
}

.front .gallery-item-2 {
	grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
	grid-row-end: 1;
	border-top: 10px solid #1BB4BB;
    border-right: 10px solid #1BB4BB;
}

.front .gallery-item-3 {
	grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
	grid-row-end: 2;
	border-bottom: 10px solid #1BB4BB;
	border-left: 10px solid #1BB4BB;

}

.front .gallery-item-4 {
	grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
	grid-row-end: 2;
	border-bottom: 10px solid #1BB4BB;
	border-right: 10px solid #1BB4BB;
}



.info-container.bazaar ul {
	margin: 20px;
	font-size: 16px;
	line-height: 1.75em;
	padding: 0;

}

.info-container.bazaar ul li {
	list-style: none;
	position: relative;
	padding: 0 0 0 20px;
	text-align: left;
	font-weight: bold;
}

.info-container.bazaar ul.arrow li::before {
	content: "";
	position: absolute;
	left: 0;
	top: 8px;
	height: 5px;
	width: 5px;
	border: 4px solid var(--red);
	border-width: 3px 3px 0 0;
	transform: rotate(45deg);
}

.info-container.bazaar .para {
	margin: 20px 0px
}