.front {
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
}

.front .partition {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: fit-content;
	padding: 60px 40px;
	width: calc(100% - 80px);
}
	.partition.main .info-container {
		align-items: flex-start;
		text-align: left;
	}
	.partition.main .info-container .heading {
		font-size: 40px;
	}
	.partition.main .img-container .img {
		width: 60%;
		height: auto;
		border-radius: unset;
	}
	.partition .info-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		justify-content: center;
		width: 100%;
		color: #3E3E3E;

	}
		.info-container .heading {
			margin-top: 5px;
			padding: 10px 0px;
			font-size: 30px;
		}
		.info-container .para {
			margin: 10px 0px;
			font-size: 18px;
		}
		.pill {
			border-radius: 20px;
			text-align: center;
			min-width: 120px;
			padding: 10px 40px;
			color: #ffffff;
			background-color: #f05967;
			font-weight: bold;
			margin: 10px 0px;
			cursor: pointer;
			font-size: 25px;
			text-decoration: none;
		}

	.partition .img-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 100%;
	}
		.img-container .circle-frame {
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
		}
		.img-container .img {
			width: 300px;
			height: 300px;
			border-radius: 50%;
		}

.front .footer {}

.bg-blue {
	background-color: rgb(5, 5, 70);
	color: #ffffff;
}
.bg-teal {
	background-color: #1BB4BB;
	color: #ffffff;
}
.front .partition.main .image-card {
	display: none;
}
.white {
	color: #ffffff;
}

.start-mob {
	display: flex;
	flex-direction: column;
}
	.card-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}
	.card {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 250px;
		width: 200px;
		padding: 20px;
		margin: 20px;
		box-shadow: 0px 0px 8px 0px #bebebe;
		border-radius: 5px;
		background-color: #ffffff;
	}
		.card .icon {
			width: 150px;
			height: 150px;
			border-radius: 50%;
			object-fit: contain;
		}
		.card .subtitle {
			font-size: 15px;
			border-top: 1px solid #e6e6e6;
			width: 100%;
			text-align: center;
			padding-top: 5px;
		}
	.card.partner {
		box-shadow: none;
	}
		.card.partner .icon {
			box-shadow: 0px 0px 8px 0px #bebebe;
		}
		.card.partner .title {
			color: #7b7b7b;
		}
	.coming-soon {
		opacity: 40%;
	}

/* FOR ABOUT US PAGE */

.about-us.front .partition {
	height: fit-content;
}
.about-us.front .partition .info-container {
	width: 100%;
}
.about-us.front .partition .info-container .sub-heading {
	align-self: center;
	font-size: 30px;
	text-decoration: underline;
}
	.about-us.front .card {
		padding: 10px;
	}
.about-us a{
	color: #3E3E3E;
}


@media only screen and (min-width: 768px) {

	.card-container {
		flex-direction: row;

	}
	.front .partition.main {
		height: 70vh;
	}
	.front .partition {
		flex-direction: row;
		justify-content: space-between;
		padding: 60px 80px;
		width: calc(100% - 160px);
		height: 70vh;
	}
	.front .reverse {
		flex-direction: row-reverse;
	}
	.front .info-container {
		align-items: flex-start;
		text-align: left;
		width: 50%;
	}
	.front .img-container {
		width: 40%;
	}
		.front .info-container .heading {
			font-size: 50px;
		}
		.front .info-container .para {
			font-size: 20px;
		}

	.front .partition.main .info-container .pill.mob {
		display: none;
	}

	.front .partition.main .info-container .heading {
		font-size: 80px;
	}

	.front .partition.main .image-card {
		display: flex;
		padding: 10px 10px;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		align-items: center;
	}
		.front .partition.main .image-card .img {
			width: 150px;
			border-radius: 50%;
		}
		.front .partition.main .image-card .img.cen {
			width: 200px;
			height: 200px;
			background-color: #2b8a9c;
		}

}

@media only screen and (max-width: 1280px) {

	.front .partition.main {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: fit-content;
	}

	.front .partition.main .info-container {
		width: 100%;
	}
	.front .partition.main .img-container {
		margin-top: 20px;
		width: 100%;
	}
	/* .front .partition.main .img-container {
		flex-direction: column;
	} */
}
@media only screen and (min-width: 1280px) {
	.img-container .circle-frame .img {
		height: 500px;
		width: 500px;
	}
}