.products .supplier-box {
	display: flex;
	flex-direction: column;
	width: 300px;
	align-items: center;
	border: 1px solid #333;
	border-radius: 4px;
	padding: 10px;
	margin: 10px;
}

	.products .supplier-box img {
		height: 200px;
		width: 200px;
		border-radius: 100%;
	}