.student-portal-op .row {
	background-color: #ffffff;
	display: flex;
	padding: 10px 40px;
	margin: 20px 0px;
	flex-direction: column;
	align-items: center;
}
	.student-portal-op .row .title {
		display: flex;
		flex-direction: row;
		font-size: 15px;
	}
	.student-portal-op .row .content {
		display: flex;
		padding: 10px 0px;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.student-portal-op .row .content.selected {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.student-portal-op .row .content > * {
		margin: 10px 5px;
	}
.student-portal-op .next-button {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 40px;
	margin: 5px 2px;
	width: 100%;
	height: 50px;
	background-color: #FFEB3B;
	text-decoration: solid;
	color: black;
}
.student-portal-op .row.second {
	background-color: #f5f5f5;

}
.student-portal-op .circle {
	display: flex;
	border-radius: 50%;
	border: 1px solid #a5a4a4;
	height: 50px;
	width: 50px;
	padding: 20px;
	margin-right: 10px;
	justify-content: center;
    align-items: center;
	flex-direction: column;
	cursor: pointer;
}
.student-portal-op .oval {
	display: flex;
	justify-content: center;
    align-items: center;
	flex-direction: column;
	width: fit-content;
	padding: 10px 20px;
	height: auto;
	background: #eeeeee;
	border-radius: 40px;
	cursor: pointer;
}
.student-portal-op .square {
	display: flex;
	justify-content: center;
    align-items: center;
	flex-direction: column;
	border-radius: 5px;
	padding: 25px 15px;
	border: 1px solid #efefef;
	cursor: pointer;
}
.oval:hover {
	color: #ffffff;
	background-color: rgb(5, 5, 70);
}
.circle:hover {
	background-color: #FFEB3B;
}
.square:hover {
	color: rgb(5, 5, 70);
	border: 1px solid rgb(5, 5, 70);
}

.bg-yellow {
	background-color: #FFEB3B;
	color: #222;
}
.bg-blue {
	color: #ffffff;
	background-color: rgb(5, 5, 70) !important;
}
.bg-bluish {
	color: rgb(5, 5, 70);
	border: 1px solid rgb(5, 5, 70) !important;
}
.school .card-list {
	display: flex;
	flex-direction: column;
}

.card-list .list-item {
	padding: 15px 0px;
	border-bottom: 1px solid #efefef;
	border-top: 1px solid #efefef;
}

.iframe {
	display: flex;
	justify-content: center;
	height: 50vh;
}

/* ========== Lesson Page Css =============== */

.lesson-page {
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	padding: 10px 20px;
	margin-top: 20px;

}
	.lesson-page .search-bar {
		width: auto;
	}
	.lesson-page .heading {
		margin: 20px 0px;
	}
	.lesson-box-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;

	}

	.lesson-box {
		border-radius: 5px;
		border: 1px solid #bebebe;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 40%;
		padding: 10px 20px;
		transition: ease 300ms;
		margin: 10px 20px;
		flex-grow: 1;
	}
		.lesson-box.border-yellow {
			border-left: 10px solid #FFEB3B;
		}
		.lesson-box.border-red {
			border-left: 10px solid rgb(107, 36, 7);
		}
		.lesson-box.border-green {
			border-left: 10px solid rgb(18, 78, 3);
		}
		.lesson-box.border-blue {
			border-left: 10px solid rgb(5, 28, 77);
		}
		.lesson-box.border-grey {
			border-left: 10px solid rgb(155, 155, 155);
		}
		.lesson-box.border-purple {
			border-left: 10px solid rgb(84, 7, 121);
		}
		.lesson-box.active {
			width: 100%;
		}
		.lesson-box .info {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			width: 100%;
		}
			.lesson-box .info .title {
				font-size: 10px;
				color: #bebebe;
				width: 90%;
			}
			.lesson-box .info .icon {
				width: 5%;
				height: 20px;
			}
		.lesson-box .list-container {
			display: flex;
			flex-direction: column;
			width: 100%;
		}
			.lesson-box .list-container .header {
				font-size: 15px;
				font-weight: bold;
			}
			.lesson-box .list-container .lb-list {
				overflow-y: auto;
				max-height: 30vh;
				box-shadow: inset 0 0 5px #bebebe;
				border-radius: 5px;
				display: flex;
				flex-direction: column;
				width: 100%;
				margin: 10px 0px;
				padding: 5px 0px;
			}
				.lesson-box .list-container .lb-list .item {
					display: flex;
					flex-direction: row;
					justify-content: flex-start;
					align-items: center;
					padding: 5px 10px;
					cursor: pointer;
				}
				.lesson-box .list-container .lb-list .item .play-icon {
					height: 20px;
					margin-right: 10px;
				}
				.lesson-box .list-container .lb-list .item .title {
					font-size: 12px;
					font-weight: normal;
				}

/* ==============  FOR MODAL =============== */

.video-modal {
	border: unset;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 80%;
	height: fit-content;
}
	.video-modal .next-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 5px;
	}
		.video-modal .close {
			border: 1px solid red;
			background-color: tomato;
			color: #ffffff;
			border-radius: 5px;
			margin-bottom: 5px;
			width: 25px;
			box-shadow: 0px 0px 5px #222;
			height: 30px;
			text-align: center;
			padding: 5px 10px;
			position: absolute;
			right: 5px;
			top: 5px;
			cursor: pointer;
		}
		.video-modal .button {
			background-color:#1BB4BB;
			color: #ffffff;
			border-radius: 5px;
		}


@media only screen and (max-width: 767px) {

	.lesson-box {
		width: 100%;
		margin: 10px 0px;;
	}

}

.loading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 40px 0px;
}
	.loading .icon {
		width: 100px;
		height: 100px;
		animation-name: spin;
		animation-duration: 2000ms;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}
	.loading .text {
		font-size: 15px;
		font-weight: bold;
	}

	@keyframes spin {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(-360deg);
		}
	}