.item-page .item-info .heading {
	color: var(--red);
}

@media (min-width: 768px) {
	.product.modal-box {
		width: 50%;
	}
}

.product.modal-box .modal-box-inner {
	padding: 15px;
}

.product.modal-box .button {
	line-height: 28px;
	width: 100%;
	border-radius: 4px;
}

.product.modal-box .button.cancel {
	background-color: #e0e0e0;
}

.item-page {
	display: flex;
	flex-direction: column;
	/* background: #ffffff; */

}
.item-page .item-image{
	max-width: 100%;
	width: auto;
	height: auto;
	max-height: 350px;
	margin: auto;
}
.item-page .item-info {
	padding: 20px;
}
.item-page .order-button {
	background-color: var(--blue);
	width: 100%;
	text-align: center;
	color: #ffffff;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 50px;
	padding-right: 10px;
	padding-left: 10px;
	margin-left: 30px;
	text-decoration: none;
	cursor: pointer;
	border-radius: 4px;

}
.item-page .description {
	margin: 8px;
	font-size: 14px;
	color: #000000;
}

.item-page .bold {
	font-weight: bold;
}

@media (max-width: 525px) {
	.item-page .order-button {
		margin-left: 15px;
	}
}