.teacher-portal .video-card {
	height: 400px;
	width: 100%;
}

.teacher-portal .alert-banner {
	width: 95%;
	margin: auto;
}

.teacher-portal .login-button {
	width: 95%;
	display: flex;
	justify-content: flex-end;
}

@media (max-width: 600px) {
	.teacher-portal .video-card {
			height: 320px;
	}

	.teacher-portal .alert-banner {
		width: 90%;
	}
}

.teacher-portal .pill-button {
	width: "20ch";
	margin-bottom: 20px;
	margin-top: 20px;
	background-color: var(--red);
	color: white;
	border-radius: 32px;
	font-weight: bold;
	font-size: 1.25rem;
}

.teacher-portal.profile {
	margin-top: 30px;
}

.teacher-portal.profile span {
	font-weight: bold;
}