.user-profile {
	margin: 20px 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.school-profile {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 20px 40px;
	justify-content: center;
	align-items: center;
}