
.articles select {
	border-width: 0px 0px 0px 0px;
	background: #ffffff;
}

.article-page {
	padding: 20px;
	margin: 20px 0px;
	align-items: center;
	background: #ffffff;
	font-size: 12px;
	text-align: left;
}

	.article-page .image {
		width: 100%;
	}

	.article-page .sm-image {
		display: block;
		width: 70%;
		height: auto;
		margin-left: auto;
		margin-right:auto;
		padding: 20px 0px;

	}

	/* For URDU */
	.urdu {
		font-family: urdu;
		direction: rtl;
		text-align: right;
	}

@media only screen and (min-width: 768px) {
	.article-page {
		font-size: 14px;
		margin: 0px 40px;
	}
	.article-page .sm-image {
		width: 250px;
	}
}