.sign-up {
	padding: 20px 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.tabs-page .sign-up {
	padding: 10px 5%;
	width: calc(100% - 10%);
	display: flex;
	flex-direction: column;
}

	.tabs-page .form {
		margin-top: 10px;
		padding: 20px;
		border-radius: 5px;
		background: #ffffff;
	}
		.tabs-page .sign-up .form .row {
			margin-top: 10px;
		}

	.tabs-page .tabs-button {
		background-color: var(--blue);
		width: 100%;
		text-align: center !important;
		color: #ffffff;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 50px;
		text-decoration: none;
		cursor: pointer;
		border-radius: 5px;
	}

	.tabs-button.red {
		background-color: var(--red);
	}

	.tabs-button.save {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		border-radius: 0;
	}

	/* .tabs-page input {
		border: 1px solid #9E9E9E;
		border-radius: 4px;
		font-size: 12px;
		padding: 10px;
		margin: 10px 0px;
	} */

	.tabs-page .row-row {
		display: flex;
		flex-direction: row;
	}

	.login-page {
		padding: 20px 5px;
		margin-bottom: 140px;
	}

	.center {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		text-align: center;
		margin: auto;
	}